body{
  overflow-y: scroll;
}

#back{
  z-index:-1;
}

#top{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: ##333333;
}

.nav{
  float:left;
}

 .nav a {
    color: white;
    text-align: center;
    margin-left:8px;
    margin-right:8px;
    margin-top:5px;
    margin-bottom:5px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #303030;
}
