body{
  overflow-y: scroll;
  margin:0px;
  text-align:center;
}

#back{
  z-index:-1;
}

#top{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav{
  float:left;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}

 .nav a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #303030;
}
